<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LPMS.Properties.Settings.LPMSConnectionString" connectionString="Data Source=LAPTOP-PVPF344M\SQLEXPRESS01;Initial Catalog=LPMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>